@import "../../../styles/variables";

.button {
  border-radius: 6px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  font-size: $fontSizeRegular;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.default {
  border: 1.2px $mediumGray solid;
  color: $darkBlue;
  background: $white;

  &:hover,
  &:focus {
    background: lighten($white, 10%);
    border-color: $blue;
  }
}

.blue {
  background: $blue;
  color: $white;
  border: none;

  &:hover,
  &:focus {
    background: darken($blue, 10%);
  }
}
