// colors
$white: #fff;
$lightGray: #BEC5CC;
$lighterGray: #E3E6E9;
$mediumGray: #D3D8DC;
$darkGray: #1A1919;
$black: #000;
$darkBlue: #060E1E;
$steelGray: #A1ABB5;
$blue: #316FEA;
$red: #FF0000;

// font-size
$fontSizeLarge: 30px;
$fontSizeMedium: 15px;
$fontSizeRegular: 16px;
$fontSizeSmall: 12px;
$fontSizeStandard: 14px;

// breakpoint
$screenXLarge: 1200px;
$screenLarge: 992px;
$screenMedium: 768px;
$screenSmall: 576px;
$screenXSmall: 480px;

