@import "../../../styles/variables";

.container {
  max-width: 400px;
  margin: 180px auto 0;
  text-align: center;

  @media (max-width: $screenXSmall) {
    margin-top: 40px;
    padding: 0 10px;
  }
}

.logo {
  margin-bottom: 80px;

  @media (max-width: $screenXSmall) {
    &:first-child {
      margin-bottom: 60px;
    }
  }
}

.title {
  font-weight: 700;
  font-size: $fontSizeLarge;
  line-height: 38.73px;
  margin-top: 0;
  margin-bottom: 40px;
}

